
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <link rel="stylesheet" href="~/CSS/styleUser.css">
</head>

<body>

    <div class="signin-container">
        <div class="form-content">
            <a href="~/UserHome/Index" class="logo">
                <img src="~/Image_User/logo.png" alt="">
            </a>
            <h2 class="title">Đăng Nhập</h2>
            <p class="error">Tên tài khoản hoặc mật khẩu không chính xác</p>
            <div class="form-group">
                <div class="input-group">
                    <p>Tài khoản</p>
                    <input type="text" name="user" placeholder="Tài khoản">
                </div>
                <div class="input-group">
                    <p>Mật khẩu</p>
                    <input type="password" name="pass" placeholder="Mật khẩu">
                </div>
            </div>
            <a href="~/UserForgotPass/Index" class="forgot-pass">Quên mật khẩu?</a>
            <button class="btn btn-primary">Đăng nhập</button>
            <div class="form-social">
                <p>Hoặc đăng nhập bằng</p>
                <div>
                    <i class="ri-facebook-circle-fill"></i>
                    <i class="ri-google-fill"></i>
                </div>
            </div>
            <p>Bạn chưa có tài khoản? <a href="~/UserSignup/Index">Đăng kí miễn phí</a> </p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/JS/user-script-signin.js"></script>
</body>

</html>